<!-- Alerts -->
<div class="row">
  <div class="col-xs-12">
    <flash-message class="customAlert" duration="5000" show-close="true" on-dismiss=""></flash-message>
  </div>
</div>
<!-- End- Alerts -->
<div class="row">
  <!-- Maing view -->
  <div class="col-lg-12" data-ng-show="!isLoading">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="{{'views.index.brands' | translate}}">
        <dir-pagination-controls data-ng-show="data.brands.length && data.showPageByPage" on-page-change="pageChanged(newPageNumber)" class="pull-right"></dir-pagination-controls>
      </rd-widget-header>
      <rd-widget-body class="no-padding" data-ng-init="initBrands()">
        <div data-ng-show="!isCreateShowing" style="margin-bottom:15px; margin-top:21px;">
          <button class="add-btn btn pull-left" data-ng-click="showCreate()">
            {{"action.add" | translate}}
          </button>
          <div class="clearfix"></div>
        </div> <!-- End- Add button -->
        <!-- Add form -->
        <form name="form" class="form-inline text-center" data-ng-show="isCreateShowing" style="margin-bottom:15px;" novalidate>
          <button class="close" data-ng-click="hideCreate()">
            <span aria-hidden="true">x</span>
            <span class="sr-only">Close</span>
          </button>
          <div class="clearfix"></div>
          <div class="form-group">
            <label for="name">{{"name" | translate}}:</label>
            <input name="name" type="text" data-ng-model="createValues.name" class="input-sm form-control"
            placeholder="{{'name' | translate}}" required>
          </div>
          <div class="form-group">
            <label for="url">{{"url" | translate}}:</label>
            <input name="url" type="url" data-ng-model="createValues.url" class="input-sm form-control"
            placeholder="{{'url' | translate}}">
          </div>
          <button type="submit" class="btn" data-ng-click="createBrand(form)" data-ng-disabled="!isSubmitActive">
            {{"action.submit" | translate}}
          </button>
          <div class="clearfix"></div>
        </form><!-- End- Add form -->
        <!-- No brands message -->
        <div class="text-center" data-ng-show="!data.brands.length">
          {{"error.no.brands" | translate}}
        </div> <!-- End- No brands message -->
        <!-- Brands table showed only if data exists -->
        <div class="table-responsive" data-ng-show="data.brands.length">
          <div id="search" class="col-lg-12" data-ng-controller="BrandCtrl">
            <label for="search-input">
              <i class="fa fa-search" aria-hidden="true"></i>
              <span class="sr-only">{{"search | translate"}}</span>
            </label>
            <input id="search-input" class="form-control input-lg" placeholder="{{'search' | translate}}" tabindex="1" data-ng-model="searchKeywords" data-ng-change="searchBrandByName()">
          </div>
          <table class="table" >
            <tbody>
              <tr>
                <th>{{"id" | translate}}</th>
                <th></th>
                <th>{{"name" | translate}}</th>
                <th>{{"views.brands.products-count" | translate}}</th>
                <th></th>
              </tr>
              <tr dir-paginate="brand in data.brands | itemsPerPage: itemsPerPage" total-items="totalBrands" current-page="currentBrandsPage" data-ng-click="showDetails(brand)">
                <td>{{brand.id}}</td>
                <td><img data-ng-src="{{brand.url}}" width="70px" height="70px"/></td>
                <td>{{brand.name}}</td>
                <td>{{brand.numProducts}}</td>
                <td>
                  <button class="btn pull-right" data-ng-show="!brand.numProducts" data-ng-disabled="brand.disabled" data-ng-click="removeBrand(brand, $index); $event.stopPropagation();">
                    {{"action.remove" | translate}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div><!-- End- Brands table -->
      </rd-widget-body>
      <rd-widget-footer data-ng-show="data.brands.length">
        <dir-pagination-controls data-ng-show="data.brands.length && data.showPageByPage" on-page-change="pageChanged(newPageNumber)" class="pull-right"></dir-pagination-controls>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
  <!-- End- Maing view -->
  <!-- Loading view -->
  <div class="col-lg-12" data-ng-show="isLoading">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="{{'views.index.brands' | translate}}"></rd-widget-header>
      <rd-widget-body>
        <rd-loading></rd-loading>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
<!-- End- Loading view -->
