<div class="row">
  <div class="col-lg-12" data-ng-show="!isLoading">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="{{brand.name}}">
        <dir-pagination-controls data-ng-show="data.products.length && data.showPageByPage"
                                 on-page-change="pageChanged(newPageNumber)"
                                 class="pull-right"></dir-pagination-controls>
      </rd-widget-header>
      <!-- Modify brands form -->
      <rd-widget-body class="no-padding">
        <div
            data-ng-include="'resources/templates/add-forms/add-brand-form.html'">
        </div>
      </rd-widget-body><!-- End- modify form -->
      <!-- Add product form -->
      <rd-widget-body>
        <div data-ng-show="isCreateShowing"
             data-ng-include="'resources/templates/add-forms/add-product-form.html'">
        </div>
      </rd-widget-body><!-- End- Add form -->
      <rd-widget-body class="no-padding" data-ng-init="init()">
        <div data-ng-show="!isCreateShowing" style="margin-bottom:15px; margin-top:21px;">
          <button class="add-btn btn pull-left" data-ng-click="showCreate()">
            {{"action.add" | translate}}
          </button>
          <div class="clearfix"></div>
        </div> <!-- End- Add button -->
        <!-- No products message -->
        <div class="text-center" data-ng-show="!data.products.length">
          {{"error.no.data" | translate}}
        </div> <!-- End- No brands message -->
        <!-- Brands table showed only if data exists -->
        <div class="table-responsive" data-ng-show="data.products.length">
          <div id="search" class="col-lg-12" data-ng-controller="BrandDetailsCtrl">
            <label for="search-input">
              <i class="fa fa-search" aria-hidden="true"></i>
              <span class="sr-only">{{"action.search | translate"}}</span>
            </label>
            <input id="search-input" class="form-control input-lg"
                   placeholder="{{'action.search' | translate}}" tabindex="1"
                   data-ng-model="searchKeywords" data-ng-change="searchProductsByName()">
          </div>
          <table class="table">
            <tbody>
            <tr>
              <th>{{"word.id.upper" | translate}}</th>
              <th></th>
              <th>{{"word.name" | translate}}</th>
              <th>{{"word.category" | translate}}</th>
              <th></th>
            </tr>
            <tr dir-paginate="product in data.products | itemsPerPage: itemsPerPage" total-items="totalItems"
                current-page="currentPage" data-ng-click="showProductDetails(product)">
              <td>{{product.id}}</td>
              <td><img data-ng-src="{{product.url}}" width="70px" height="70px"/></td>
              <td>{{product.name}}</td>
              <td>{{product.category.name}}</td>
              <td>
                <button class="btn pull-right" data-ng-disabled="product.disabled"
                        data-ng-click="removeBrandProduct(product, $index); $event.stopPropagation();">
                  {{"action.remove" | translate}}
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div><!-- End- Brands table -->
      </rd-widget-body>
      <rd-widget-footer data-ng-show="data.products.length && data.showPageByPage">
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"
                                 class="pull-right"></dir-pagination-controls>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div><!-- End- Maing view -->
  <!-- Loading view -->
  <div class="col-lg-12" data-ng-show="isLoading">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="{{brand.name}}"></rd-widget-header>
      <rd-widget-body>
        <rd-loading></rd-loading>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
