<div class="row">
  <div class="col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="{{'views.index.brands' | translate}}">
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="pull-right"></dir-pagination-controls>
      </rd-widget-header>
      <rd-widget-body classes="no-padding" data-ng-init="init()">
        <div class="table-responsive">
          <table class="table">
            <tbody>
                <tr>
                    <th>{{"id" | translate}}</th>
                    <th></th>
                    <th>{{"views.brands.name" | translate}}</th>
                    <th>{{"views.brands.products-count" | translate}}</th>
                    <th></th>
                </tr>
              <tr dir-paginate="brand in brands | itemsPerPage: brandsPerPage" total-items="totalBrands" current-page="currentPage">
                  <td style="vertical-align: middle;">{{brand.id}}</td>
                  <td><img ng-src="{{brand.url}}" width="70px" height="70px"/></td>
                  <td style="vertical-align: middle;">{{brand.name}}</td>
                  <td style="vertical-align: middle;">{{brand.numProducts}}</td>
                  <td style="vertical-align: middle;">
                    <button class="action-button shadow animate red pull-right" type="button">Remove</button>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
      <rd-widget-footer>
          <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="pull-right"></dir-pagination-controls>
          <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>
