<div class="row">
  <!-- Maing view -->
  <div class="col-lg-12" data-ng-show="!isLoading">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="{{'views.index.menus' | translate}}">
      </rd-widget-header>
      <rd-widget-body class="no-padding" data-ng-init="init()">

        <!-- Modify form -->
        <div
            data-ng-include="'resources/templates/add-forms/add-menu-form.html'">
        </div><!-- End- Modify form -->

        <div class="col-md-6">
          <form name="form" class="form-inline text-center" style="margin-bottom:15px;"
                data-ng-show="isAddProductShowing && addingType == 0" novalidate>
            <button class="close" data-ng-click="hideCreate()">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <span class="sr-only">Close</span>
            </button>
            <div class="clearfix"></div>
            <div data-ng-controller="MenuDetailsCtrl">
              <div class="form-group">
                <label class="control-label col-xs-3" for="product0">{{"word.product" | translate}}:</label>
                <div class="col-xs-6">
                  <input type="text" class="input-sm form-control" id="product0" data-ng-model="product"
                         ng-change="searchProducts()" autocomplete="off"
                         placeholder="{{'word.product' | translate}}"
                         uib-typeahead="product as product.name for product in searchedProducts | filter:$viewValue"
                         uib-typeahead-editable="false" typeahead-on-select="onSelect($item, $model, $label)"/>
                </div>
              </div>
              <button type="submit" class="btn" data-ng-click="saveProduct(form)" data-ng-disabled="!isSubmitActive">
                {{"action.submit" | translate}}
              </button>
              <div class="clearfix"></div>
            </div>
          </form>
          <div class="table-responsive">
            <table class="table">
              <caption data-ng-show="!isAddProductShowing || addingType!=0">{{"word.drinks" | translate}}</caption>
              <tbody>
              <tr>
                <th>{{"word.id.upper" | translate}}</th>
                <th></th>
                <th>{{"word.name" | translate}}</th>
                <th>{{"word.category" | translate}}</th>
                <th></th>
              </tr>
              <tr data-ng-repeat="product in drinks | orderBy: 'id'">
                <td>{{product.id}}</td>
                <td><img data-ng-src="{{product.url}}" width="70px" height="70px"/></td>
                <td>{{product.name}}</td>
                <td>{{product.category.name}}</td>
                <td>
                  <button class="btn pull-right" data-ng-disabled="product.disabled"
                          data-ng-click="removeDrink(product, $index); $event.stopPropagation();">
                    {{"action.remove" | translate}}
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <button style="margin-bottom:15px; margin-top:21px;" class="add-btn btn" data-ng-click="showCreate(0)">
            {{"action.add" | translate}}
          </button>
        </div>

        <div class="col-md-6">
          <form name="form" class="form-inline text-center" style="margin-bottom:15px;"
                data-ng-show="isAddProductShowing && addingType == 1" novalidate>
            <button class="close" data-ng-click="hideCreate()">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <span class="sr-only">Close</span>
            </button>
            <div class="clearfix"></div>
            <div>
              <div class="form-group" data-ng-controller="MenuDetailsCtrl">
                <label class="control-label col-xs-3" for="product1">{{"word.product" | translate}}:</label>
                <div class="col-xs-6">
                  <input type="text" class="input-sm form-control" id="product1" data-ng-model="product"
                         ng-change="searchProducts()" autocomplete="off"
                         placeholder="{{'word.product' | translate}}"
                         uib-typeahead="product as product.name for product in searchedProducts | filter:$viewValue"
                         uib-typeahead-editable="false" typeahead-on-select="onSelect($item, $model, $label)"/>
                </div>
              </div>
              <button type="submit" class="btn" data-ng-click="saveProduct(form)" data-ng-disabled="!isSubmitActive">
                {{"action.submit" | translate}}
              </button>
              <div class="clearfix"></div>
            </div>
          </form>
          <div class="table-responsive">
            <table class="table">
              <caption data-ng-show="!isAddProductShowing || addingType!=1">{{"word.starters" | translate}}</caption>
              <tbody>
              <tr>
                <th>{{"word.id.upper" | translate}}</th>
                <th></th>
                <th>{{"word.name" | translate}}</th>
                <th>{{"word.category" | translate}}</th>
                <th></th>
              </tr>
              <tr data-ng-repeat="product in starters | orderBy: 'id'">
                <td>{{product.id}}</td>
                <td><img data-ng-src="{{product.url}}" width="70px" height="70px"/></td>
                <td>{{product.name}}</td>
                <td>{{product.category.name}}</td>
                <td>
                  <button class="btn pull-right" data-ng-disabled="product.disabled"
                          data-ng-click="removeStarter(product, $index); $event.stopPropagation();">
                    {{"action.remove" | translate}}
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <button style="margin-bottom:15px; margin-top:21px;" class="add-btn btn" data-ng-click="showCreate(1)">
            {{"action.add" | translate}}
          </button>
        </div>

        <div class="col-md-6">
          <form name="form" class="form-inline text-center" style="margin-bottom:15px;"
                data-ng-show="isAddProductShowing && addingType == 2" novalidate>
            <button class="close" data-ng-click="hideCreate()">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <span class="sr-only">Close</span>
            </button>
            <div class="clearfix"></div>
            <div>
              <div class="form-group" data-ng-controller="MenuDetailsCtrl">
                <label class="control-label col-xs-3" for="product2">{{"word.product" | translate}}:</label>
                <div class="col-xs-6">
                  <input type="text" class="input-sm form-control" id="product2" data-ng-model="product"
                         ng-change="searchProducts()" autocomplete="off"
                         placeholder="{{'word.product' | translate}}"
                         uib-typeahead="product as product.name for product in searchedProducts | filter:$viewValue"
                         uib-typeahead-editable="false" typeahead-on-select="onSelect($item, $model, $label)"/>
                </div>
              </div>
              <button type="submit" class="btn" data-ng-click="saveProduct(form)" data-ng-disabled="!isSubmitActive">
                {{"action.submit" | translate}}
              </button>
              <div class="clearfix"></div>
            </div>
          </form>
          <div class="table-responsive">
            <table class="table">
              <caption data-ng-show="!isAddProductShowing || addingType!=2">{{"word.mains" | translate}}</caption>
              <tbody>
              <tr>
                <th>{{"word.id.upper" | translate}}</th>
                <th></th>
                <th>{{"word.name" | translate}}</th>
                <th>{{"word.category" | translate}}</th>
                <th></th>
              </tr>
              <tr data-ng-repeat="product in mains | orderBy: 'id'">
                <td>{{product.id}}</td>
                <td><img data-ng-src="{{product.url}}" width="70px" height="70px"/></td>
                <td>{{product.name}}</td>
                <td>{{product.category.name}}</td>
                <td>
                  <button class="btn pull-right" data-ng-disabled="product.disabled"
                          data-ng-click="removeMain(product, $index); $event.stopPropagation();">
                    {{"action.remove" | translate}}
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <button style="margin-bottom:15px; margin-top:21px;" class="add-btn btn" data-ng-click="showCreate(2)">
            {{"action.add" | translate}}
          </button>
        </div>

        <div class="col-md-6">
          <form name="form" class="form-inline text-center" style="margin-bottom:15px;"
                data-ng-show="isAddProductShowing && addingType == 3" novalidate>
            <button class="close" data-ng-click="hideCreate()">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <span class="sr-only">Close</span>
            </button>
            <div class="clearfix"></div>
            <div>
              <div class="form-group" data-ng-controller="MenuDetailsCtrl">
                <label class="control-label col-xs-3" for="product3">{{"word.product" | translate}}:</label>
                <div class="col-xs-6">
                  <input type="text" class="input-sm form-control" id="product3" data-ng-model="product"
                         ng-change="searchProducts()" autocomplete="off"
                         placeholder="{{'word.product' | translate}}"
                         uib-typeahead="product as product.name for product in searchedProducts | filter:$viewValue"
                         uib-typeahead-editable="false" typeahead-on-select="onSelect($item, $model, $label)"/>
                </div>
              </div>
              <button type="submit" class="btn" data-ng-click="saveProduct(form)" data-ng-disabled="!isSubmitActive">
                {{"action.submit" | translate}}
              </button>
              <div class="clearfix"></div>
            </div>
          </form>
          <div class="table-responsive">
            <table class="table">
              <caption data-ng-show="!isAddProductShowing || addingType!=3">{{"word.desserts" | translate}}</caption>
              <tbody>
              <tr>
                <th>{{"word.id.upper" | translate}}</th>
                <th></th>
                <th>{{"word.name" | translate}}</th>
                <th>{{"word.category" | translate}}</th>
                <th></th>
              </tr>
              <tr data-ng-repeat="product in desserts | orderBy: 'id'">
                <td>{{product.id}}</td>
                <td><img data-ng-src="{{product.url}}" width="70px" height="70px"/></td>
                <td>{{product.name}}</td>
                <td>{{product.category.name}}</td>
                <td>
                  <button class="btn pull-right" data-ng-disabled="product.disabled"
                          data-ng-click="removeDessert(product, $index); $event.stopPropagation();">
                    {{"action.remove" | translate}}
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <button style="margin-bottom:15px; margin-top:21px;" class="add-btn btn" data-ng-click="showCreate(3)">
            {{"action.add" | translate}}
          </button>
        </div>

        <div class="clearfix"></div>

      </rd-widget-body>
    </rd-widget>
  </div><!-- End- Maing view -->
</div><!-- End- Loading view -->
