/* Sidebar Colors */
a {
	color: #032730;
}
th {
	background: #032730;
	color: #cafd81;
}

.row.header{
	background: #053a47;
	color: #cafd81;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tbody>tr>th>button {
	vertical-align: middle;
}
.table>tbody>tr>th>button {
	margin-right: 50px;
}

#sidebar-wrapper {
	background: #053a47
}
#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator,
.sidebar-footer,
ul.sidebar .sidebar-list a:hover,
ul.sidebar .sidebar-main a {
	background: #032730;
	color: #cafd81;
}
ul.sidebar .sidebar-title {
	color: #cafd81;
}
ul.sidebar .sidebar-list a {
	color: #eafecd;
}
.sidebar-footer {
	background: #032730;
}
.sidebar-footer div a {
	color: #cafd81;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
	background-color: #032730;
	border-color: #032730;
	color: #cafd81;
}
.pagination>li>a,
.pagination>li>span{
	color: #032730;
}

.widget .widget-body {
	padding: 10px;
}

.widget .widget-body button{
	margin-left: 0px;
}

/*Buttons*/

.btn {
	color: #f4f4f4;
	background-color: #12ba90;
	border: 0;
}
.btn:disabled {
	background-color: #616161;
}
.btn:hover{
	background-color: #0e8b6c;
	color: #f4f4f4;
}
.btn:focus{
	color: #f4f4f4;
}
.btn:active{
	transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
}

/*Input Focused*/
.form-control:focus{
	border-color:  #cafd81;
}
