/* Sidebar Colors */
a {
	color: #032730;
}
th {
	background: #032730;
	color: #cafd81;
}

table{
	width: 90%;
}
.row.header{
	background: #053a47;
	color: #cafd81;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tbody>tr>th>button {
	vertical-align: middle;
}
.table>tbody>tr>th>button {
	margin-right: 50px;
}

#sidebar-wrapper {
    background: #053a47
}
#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator,
.sidebar-footer,
ul.sidebar .sidebar-list a:hover,
ul.sidebar .sidebar-main a {
	background: #032730;
	color: #cafd81;
}
ul.sidebar .sidebar-title {
    color: #cafd81;
}
ul.sidebar .sidebar-list a {
    color: #eafecd;
}
.sidebar-footer {
	background: #032730;
}
.sidebar-footer div a {
    color: #cafd81;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #032730;
    border-color: #032730;
	color: #cafd81;
}
.pagination>li>a,
.pagination>li>span{
	color: #032730;
}
/* BUTTON */
button {
    color: #f4f4f4;
    background: #4aaaa5;
    font-weight: bold;
	padding: 10px;
    font-family: Montserrat,sans-serif;
    border-radius: 4px;
    border: solid 0 #e3edf4;
    border-bottom: 2px solid #3a9a95;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button {
	position: relative;
	padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
	font-size: 25px;
}

.action-button:active {
	transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
