<form name="form" class="form-inline text-center" novalidate>
    <fieldset>
        <!-- Default legend -->
        <legend data-ng-show="!legend">{{"action.add.ing" | translate}} {{"word.menu" | translate}}</legend>
        <!-- We can change our legend if controller declares $scope.legend -->
        <legend data-ng-show="legend">{{legend}}</legend>

        <div class="form-group">
            <label class="sr-only" for="name">{{"word.name" | translate}}:</label>
            <input id="name" type="text" data-ng-model="menu.name" class="input-sm form-control"
                   data-ng-class="{'form-error': errors.hasOwnProperty('name')}"
                   placeholder="{{'word.name' | translate}}" required autocomplete="off">
        </div>

        <div class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="starterPrice">{{"word.starter_price" | translate}}:</label>
                <input id="starterPrice" type="number" step="0.01" data-ng-model="menu.starterPrice"
                       class="input-sm form-control" autocomplete="off" required
                       data-ng-class="{'form-error': errors.hasOwnProperty('starterPrice')}"
                       placeholder="{{'word.starter_price' | translate}}">
            </div>
            <div class="form-group">
                <label class="sr-only" for="mainPrice">{{"word.main_price" | translate}}:</label>
                <input id="mainPrice" type="number" step="0.01" data-ng-model="menu.mainPrice"
                       class="input-sm form-control" autocomplete="off" required
                       data-ng-class="{'form-error': errors.hasOwnProperty('mainPrice')}"
                       placeholder="{{'word.main_price' | translate}}">
            </div>
        </div>

        <div class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="drinkPrice">{{"word.drink_price" | translate}}:</label>
                <input id="drinkPrice" type="number" step="0.01" data-ng-model="menu.drinkPrice"
                       class="input-sm form-control" autocomplete="off" required
                       data-ng-class="{'form-error': errors.hasOwnProperty('drinkPrice')}"
                       placeholder="{{'word.drink_price' | translate}}">
            </div>
            <div class="form-group">
                <label class="sr-only" for="dessertPrice">{{"word.dessert_price" | translate}}:</label>
                <input id="dessertPrice" type="number" step="0.01" data-ng-model="menu.dessertPrice"
                       class="input-sm form-control" autocomplete="off" required
                       data-ng-class="{'form-error': errors.hasOwnProperty('dessertPrice')}"
                       placeholder="{{'word.dessert_price' | translate}}">
            </div>
        </div>

        <button class="add-btn btn" data-ng-click="saveItem(form);">
            {{"action.submit" | translate}}
        </button>

    </fieldset>
</form>