<div data-ng-show="!values.hasOwnProperty('brands')">
  <double-bounce-spinner></double-bounce-spinner>
</div>
<div class="widget-body">
  <div class="text-center" data-ng-show="values.brands.count === 0 && !isSearching">
      <img class="no-data-message" src="../components/resources/img/RMP-BM.png" width="20%" height="20%"/>
    <h2 class="no-data-message">{{"error.no.data" | translate}}</h2>
  </div>
  <div class="table-responsive" data-ng-show="values.brands.count > 0">
    <div id="search" class="col-lg-12">
      <label for="search-input">
        <i class="fa fa-search" aria-hidden="true"></i>
        <span class="sr-only">{{"action.search" | translate}}</span>
      </label>
      <input id="search-input" class="form-control input-lg" placeholder="{{'action.search' | translate}}"
             tabindex="1" data-ng-model="searchKeywords" data-ng-change="searchByName()">
    </div>
    <table class="table">
      <tbody>
      <tr>
        <th class="text-center visible-lg visible-md">{{"word.id.upper" | translate}}</th>
        <th></th>
        <th>{{"word.name" | translate}}</th>
        <th class="hidden-xs">{{"word.products_count" | translate}}</th>
        <th></th>
      </tr>
      <tr dir-paginate="brand in values.brands.items | itemsPerPage: pagination.itemsPerPage"
          total-items="values.brands.count" current-page="pagination.currentPage"
          data-ui-sref="brand-details({ brandId: brand.id, brand: brand})">

        <td class="text-center visible-lg visible-md">{{brand.id}}</td>
        <td><img data-ng-src="{{brand.url}}" width="70px" height="70px"/></td>
        <td class="capitalize">{{brand.name.toLowerCase()}}</td>
        <td class="hidden-xs">{{brand.numProducts}}</td>
        <td>
          <button class="btn pull-right" data-ng-disabled="brand.disabled || brand.numProducts"
                  data-ng-click="removeBrand(brand); $event.stopPropagation();">
            {{"action.remove" | translate}}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>