<form name="form" class="form-inline text-center" style="margin-bottom:15px;" novalidate>

  <button class="close" data-ng-click="hideCreate()">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <span class="sr-only">Close</span>
  </button>
  <div class="clearfix"></div>

  <fieldset>
    <!-- Form Name -->
    <legend>{{"action.add" | translate}} {{"menu" | translate}}</legend>

    <div class="form-group">
      <label class="sr-only" for="name">{{"name" | translate}}:</label>
      <input name="name" type="text" data-ng-model="menu.name" class="input-sm form-control"
      placeholder="{{'name' | translate}}" required>
    </div>

    <div class="form-group">
      <label class="sr-only" for="starter">{{"menu.starterPrice" | translate}}:</label>
      <input name="starter" type="number" data-ng-model="menu.starter" class="input-sm form-control"
      placeholder="{{'menu.starterPrice' | translate}}" required>
    </div>

    <div class="form-group">
      <label class="sr-only" for="drink">{{"menu.drinkPrice" | translate}}:</label>
      <input name="drink" type="number" data-ng-model="menu.drink" class="input-sm form-control"
      placeholder="{{'menu.drinkPrice' | translate}}" required>
    </div>

    <div class="form-group">
      <label class="sr-only" for="main">{{"menu.mainPrice" | translate}}:</label>
      <input name="main" type="number" data-ng-model="menu.main" class="input-sm form-control"
      placeholder="{{'menu.mainPrice' | translate}}" required>
    </div>

    <div class="form-group">
      <label class="sr-only" for="dessert">{{"menu.dessertPrice" | translate}}:</label>
      <input name="dessert" type="number" data-ng-model="menu.dessert" class="input-sm form-control"
      placeholder="{{'menu.dessertPrice' | translate}}" required>
    </div>

    <button type="submit" class="btn" data-ng-click="saveMenu(form)" data-ng-disabled="!isSubmitActive">
      {{"action.submit" | translate}}
    </button>

  </fieldset>

  <div class="clearfix"></div>
</form>
