<form name="form" class="form-inline text-center" style="margin-bottom:15px;" novalidate>

  <button class="close" data-ng-show="showClose" data-ng-click="hideCreate()">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <span class="sr-only">Close</span>
  </button>
  <div class="clearfix"></div>

  <fieldset>
    <!-- Form Name -->
  <legend>Add brand</legend>

  <div class="form-group">
    <label class="sr-only" for="name">{{"name" | translate}}:</label>
    <input name="name" type="text" data-ng-model="brand.name" class="input-sm form-control"
    placeholder="{{'name' | translate}}" required>
  </div>

  <div class="form-group">
    <label class="sr-only" for="url">{{"url" | translate}}:</label>
    <input name="url" type="url" data-ng-model="brand.url" class="input-sm form-control"
    placeholder="{{'url' | translate}}">
  </div>

  <button type="submit" class="btn" data-ng-click="saveBrand(form)" data-ng-disabled="!isSubmitActive">
    {{"action.submit" | translate}}
  </button>

  </fieldset>

  <div class="clearfix"></div>
</form>
