<!-- Header Bar -->
<div class="row header">
    <div class="col-xs-12">
        <div class="user pull-right">
            <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" ui-sref="index">
                    <img src="../components/resources/img/RMP-BM.png">
                </a>
            </div>
            <div class="item dropdown" uib-dropdown data-ng-controller="AlertCtrl" data-ng-init="init()">
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                    <i data-ng-class="{fa:true, 'fa-bell-o': hasUnreadAlerts(), 'fa-bell-slash-o': !hasUnreadAlerts()}"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" data-ng-if="values.alerts.length > 0">
                    <li class="dropdown-header">
                        {{"views.index.notifications" | translate}}
                    </li>
                    <li class="divider"></li>
                    <li data-ng-class="{notifications: alert.viewed, unread: !alert.viewed}"
                        data-ng-repeat="alert in values.alerts | limitTo:7" data-ng-click="markAsRead(alert, $index)">
                        <i data-ng-class="{fa: true, 'fa-check': alert.viewed, 'fa-times': !alert.viewed}"
                           aria-hidden="true"></i>{{alert.comment}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Header Bar -->