<div data-ng-show="!values.hasOwnProperty('menus')">
    <double-bounce-spinner></double-bounce-spinner>
</div>
<div class="widget-body">
    <div class="text-center" data-ng-show="values.menus.count === 0">
        <img class="no-data-message" src="../components/resources/img/RMP-BM.png" width="20%" height="20%"/>
        <h2 class="no-data-message">{{"error.no.data" | translate}}</h2>
    </div>
    <div class="table-responsive" data-ng-show="values.menus.count > 0">
        <div id="search" class="col-lg-12">
            <label for="search-input">
                <i class="fa fa-search" aria-hidden="true"></i>
                <span class="sr-only">{{"action.search" | translate}}</span>
            </label>
            <input id="search-input" class="form-control input-lg" placeholder="{{'action.search' | translate}}"
                   tabindex="1" data-ng-model="searchKeywords" data-ng-change="searchByName()">
        </div>
        <table class="table">
            <tbody>
            <tr>
                <th class="text-center visible-lg visible-md">{{"word.id.upper" | translate}}</th>
                <th>{{"word.name" | translate}}</th>
                <th class="hidden-xs">{{"word.price" | translate}}</th>
                <th></th>
            </tr>
            <tr dir-paginate="menu in values.menus.items | itemsPerPage: pagination.itemsPerPage"
                total-items="values.menus.count" current-page="pagination.currentPage"
                data-ui-sref="menu-details({ menuId: menu.id, menu: menu})">

                <td class="text-center visible-lg visible-md">{{menu.id}}</td>
                <td class="capitalize">{{menu.name.toLowerCase()}}</td>
                <td class="hidden-xs">{{menu.starterPrice + menu.drinkPrice + menu.mainPrice + menu.dessertPrice}}€</a></td>
                <td>
                    <button class="btn pull-right" data-ng-disabled="menu.disabled"
                            data-ng-click="removeSupplier(menu); $event.stopPropagation();">
                        {{"action.remove" | translate}}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>