/* Sidebar Colors */
a {
	color: #032730;
}
th {
	background: #212121;
	color: #1DE9B6;
}
.table {
	background: #fafafa;
	margin: inherit;
}
.table>tbody>tr:hover {
	background: #e0e0e0;
}
.row.header{
	background: #212121;
	color: #1DE9B6;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tbody>tr>th>button {
	vertical-align: middle;
}
.table>tbody>tr>th>button {
	margin-right: 50px;
}

#sidebar-wrapper {
	background: #252525;
}
#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator,
.sidebar-footer,
ul.sidebar .sidebar-list a:hover,
ul.sidebar .sidebar-main a {
	background: #212121;
	color: #1DE9B6;
	border-left: 3px solid #1DE9B6;
}
ul.sidebar .sidebar-title {
	color: #1DE9B6;
}
ul.sidebar .sidebar-list a {
	color: #ffffff;
}
.sidebar-footer {
	background: #212121;
}
.sidebar-footer div a {
	color: #1DE9B6;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
	background-color: #212121;
	border-color: #000000;
	color: #1DE9B6;
}
.pagination>li>a,
.pagination>li>span{
	color: #032730;
}

.widget .widget-body {
	padding: 10px;
}

.widget .widget-body button{
	margin-left: 0;
}

/*Buttons*/
.btn {
	color: #f4f4f4;
	background-color: #12ba90;
	border: 0;
}
.btn:disabled {
	background-color: #616161;
}
.btn:hover{
	background-color: #0e8b6c;
	color: #f4f4f4;
}
.btn:focus{
	color: #f4f4f4;
}
.btn:active{
	transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
}

/*Input Focused*/
.form-control:focus{
	border-color:  #cafd81;
}

/* customAlert */
.alert.customAlert {
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #666;
    min-width: 403px;
    padding : 20px 50px 20px 30px;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
    height: 92px;
}

.customAlert strong {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}
.customAlert .close {
    position: absolute !important;
    right: 25px !important;
    top: 5px !important;
}
.customAlert em {
    color: #999;
    display: inline-block;
    margin: 0 5px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: pre;
}

/* search bar */
#search label {
    position: absolute;
    left: 35px;
    top: 14px;
}

#search #search-input, #search .hint {
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 23px;
	margin-bottom: 10px;
}
