<div class="dialog-contents" id="add-form.html">
    <form name="form" class="form-horizontal text-center">
        <fieldset>
            <legend>{{"action.add.ing" | translate}} {{"word.table" | translate}}</legend>
            <div style="display: inline-block">
                <div class="form-group">
                    <label class="sr-only" for="num">{{"word.number" | translate}}:</label>
                    <div class="col-xs-12">
                    <input id="num" type="text" data-ng-model="table.num" class="input-sm form-control"
                           placeholder="{{'word.number' | translate}}" required autocomplete="off">
                    </div>
                </div>

                <div class="form-group">
                    <label class="sr-only" for="sites">{{"word.sites" | translate}}:</label>
                    <div class="col-xs-12">
                    <input id="sites" type="text" data-ng-model="table.sites" class="input-sm form-control"
                           placeholder="{{'word.sites' | translate}}" required autocomplete="off">
                    </div>
                </div>

                <div class="form-group">
                    <label class="sr-only" for="description">{{"word.description" | translate}}:</label>
                    <div class="col-xs-12">
                    <textarea id="description" data-ng-model="table.description" class="input-sm form-control"
                              placeholder="{{'word.description' | translate}}" required autocomplete="off"></textarea>
                    </div>
                </div>

                <button class="add-btn btn" data-ng-click="saveItem(form);">
                    {{"action.submit" | translate}}
                </button>
            </div>
        </fieldset>
    </form>
</div>
