<div data-ng-show="!values.hasOwnProperty('orders')">
  <double-bounce-spinner></double-bounce-spinner>
</div>
<div class="widget-body">
  <div class="text-center" data-ng-show="values.orders.count === 0">
      <img class="no-data-message" src="../components/resources/img/RMP-BM.png" width="20%" height="20%"/>
    <h2 class="no-data-message">{{"error.no.data" | translate}}</h2>
  </div>
  <div class="table-responsive" data-ng-show="values.orders.length > 0">
    <div id="search" class="col-lg-12">
      <label for="search-input">
        <i class="fa fa-search" aria-hidden="true"></i>
        <span class="sr-only">{{"action.search" | translate}}</span>
      </label>
      <input id="search-input" class="form-control input-lg" placeholder="{{'action.search' | translate}}"
             tabindex="1" data-ng-model="searchKeywords" data-ng-change="searchByName()">
    </div>
    <table class="table">
      <tbody>
      <tr>
        <th class="text-center visible-lg visible-md">{{"word.id.upper" | translate}}</th>
        <th></th>
        <th>{{"word.name" | translate}}</th>
        <th class="hidden-xs">{{"word.brand" | translate}}</th>
        <th></th>
      </tr>
      <tr data-ng-repeat="order in values.orders | orderBy: 'id'"
          data-ui-sref="order-details({'orderId': order.id, 'order': order})">

        <td class="text-center visible-lg visible-md">{{order.id}}</td>
        <td><img data-ng-src="{{order.url}}" width="70px" height="70px"/></td>
        <td>{{order.name}}</td>
        <td class="hidden-xs" data-ng-click="$event.stopPropagation()">
          <a ui-sref="brand-details({'brandId': order.brand.id, 'brand': order.brand})">{{order.brand.name}}</a>
        </td>
        <td data-ng-if="!order.simple"><img width="25px" height="25px" src="../components/resources/img/pack_icon.png">
        <td data-ng-if="order.simple"><img width="25px" height="25px" src="../components/resources/img/simple_icon.png">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>