<form name="form" class="text-center" data-ng-class="{'form-inline': isDetailsForm, 'form-horizontal': !isDetailsForm}"
      novalidate>
    <fieldset>
        <!-- Default legend -->
        <legend data-ng-show="!legend">{{"action.add.ing" | translate}} {{"word.supplier" | translate}}</legend>
        <!-- We can change our legend if controller declares $scope.legend -->
        <legend data-ng-show="legend">{{legend}}</legend>

        <div data-ng-class="{'form-group': isDetailsForm, 'inline-block': !isDetailsForm}">
            <div data-ng-class="{'form-group': isDetailsForm}">
                <label class="sr-only" for="name">{{"word.name" | translate}}:</label>
                <input id="name" type="text" data-ng-model="supplier.name" class="input-sm form-control"
                       data-ng-class="{'form-error': errors.hasOwnProperty('name')}"
                       placeholder="{{'word.name' | translate}}" required autocomplete="off">
            </div>

            <div data-ng-class="{'form-group': isDetailsForm}">
                <label class="sr-only" for="vat">{{"word.vat.upper" | translate}}:</label>
                <input id="vat" type="url" data-ng-model="supplier.vat" class="input-sm form-control"
                       data-ng-class="{'form-error': errors.hasOwnProperty('vat')}"
                       placeholder="{{'word.vat.upper' | translate}}" required autocomplete="off">
            </div>

            <div data-ng-class="{'form-group': isDetailsForm}">
                <label class="sr-only" for="url">{{"word.image_url" | translate}}:</label>
                <input id="url" type="url" data-ng-model="supplier.website" class="input-sm form-control"
                       placeholder="{{'word.image_url' | translate}}" autocomplete="off">
            </div>

            <button class="add-btn btn" data-ng-click="saveItem(form);">
                {{"action.submit" | translate}}
            </button>
        </div>
    </fieldset>
</form>
