<rd-widget-body>
    <form name="form" class="form-inline text-center" data-ng-controller="ProductCtrl" data-ng-init="initCategories()" style="margin-bottom:15px;" novalidate>
        <button class="close" data-ng-click="hideCreate(); createProductValues = {};">
            <span aria-hidden="true">x</span>
            <span class="sr-only">Close</span>
        </button>
        <div class="clearfix"></div>
        <div class="form-group">
            <label for="ean">{{"ean" | translate}}:</label>
            <input name="ean" type="number" data-ng-model="createProductValues.ean" class="input-sm form-control"
            placeholder="{{'ean' | translate}}" required>
        </div>
        <div class="form-group">
            <label for="name">{{"name" | translate}}:</label>
            <input name="name" type="text" data-ng-model="createProductValues.name" class="input-sm form-control"
            placeholder="{{'name' | translate}}">
        </div>
        <div class="form-group">
            <label for="category">{{"category" | translate}}:</label>
            <select name="category" class="input-sm form-control"
            data-ng-options="category as category.name for category in categories track by category.id"
            data-ng-model="createProductValues.category" ng-change="getSimpleProducts(selectedBrand, createProductValues.category)"></select>
        </div>
        <p></p>
        <div class="form-group">
            <label for="description">{{"description" | translate}}:</label>
            <textarea name="description" class="input-sm form-control" data-ng-model="createProductValues.description"
            placeholder="{{'placeholder.description' | translate}}" style="width: 540px"></textarea>
        </div>
        <p></p>
        <!-- Pack info -->
        <div data-ng-show="createProductValues.isPack">
            <div class="form-group">
                <label for="simpleProduct">{{"simpleProduct" | translate}}:</label>
                <select name="simpleProduct" class="input-sm form-control"
                data-ng-options="category as category.name for category in categories track by category.id"
                data-ng-model="createProductValues.category"></select>
            </div>
            <div class="form-group">
                <label for="amount">{{"amount" | translate}}:</label>
                <input name="amount" type="number" data-ng-model="createProductValues.amount" class="input-sm form-control"
                placeholder="{{'amount' | translate}}">
            </div>
        </div><!--End- Pack Info -->
        <div class="form-group">
            <label for="isPack">{{"isPack" | translate}}</label>
            <input name="isPack" type="checkbox" data-ng-model="createProductValues.isPack" class="input-sm form-control">
        </div>
        <p></p>
        <button type="submit" class="btn" data-ng-click="createProduct(form)" data-ng-disabled="!isSubmitActive">
            {{"action.submit" | translate}}
        </button>
        <div class="clearfix"></div>
    </form>
</rd-widget-body>
