<!doctype html>
<html lang="en" ng-app="RestMaPla">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>RestMaPla Web</title>
  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.min.css">
  <link rel="stylesheet" type="text/css" href="resources/styles/styles.css">
  <!-- endbuild -->
  <!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="components/angular-translate/angular-translate.js"></script>
  <script type="text/javascript" src="components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
  <script type="text/javascript" src="components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
  <script type="text/javascript" src="components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
  <script type="text/javascript" src="components/angular-translate-handler-log/angular-translate-handler-log.js"></script>
  <script type="text/javascript" src="components/angular-dynamic-locale/tmhDynamicLocale.min.js"></script>
  <script type="text/javascript" src="components/angular-sanitize/angular-sanitize.js"></script>
  <script type="text/javascript" src="components/angularUtils-pagination/dirPagination.js"></script>
  <!-- endbuild -->
  <!-- Custom Scripts -->
  <script type="text/javascript" src="js/dashboard.min.js"></script>
</head>
<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper" >
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            {{"views.index.dashboard" | translate}}
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>{{"views.index.navigation.upper" | translate}}</span></li>
        <li class="sidebar-list">
          <a href="#">{{"views.index.dashboard" | translate}}<span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/brands">{{"views.index.brands" | translate}}<span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <!-- <li class="sidebar-list">
          <a href="#/tables">Tables <span class="menu-icon fa fa-table"></span></a>
        </li> -->
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://plus.google.com/u/0/b/112257302862182562124/112257302862182562124" target="_blank"><!-- target="_blank" - Used for open in new window -->
            {{"views.index.about" | translate}}
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            {{"views.index.support" | translate}}
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right">
              <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img src="resources/img/RMP-BM.png">
                </a>
                <!-- <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    RestMaPla
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#">
                      Profile
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#">
                      Logout
                    </a>
                  </li>
                </ul> -->
              </div>
              <div class="item dropdown" uib-dropdown ng-if="alerts.length > 0">
               <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    {{"views.index.notifications" | translate}}
                  </li>
                  <li class="divider"></li>
                  <!-- <li>
                    <a href="#">Server Down!</a>
                  </li> -->
                </ul>
              </div>
            </div>
            <div class="meta">
              <div class="page">
                {{page}}
              </div>
              <div class="breadcrumb-links">
                {{uri}}
              </div>
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div ui-view></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
</body>
</html>
